= semantic_form_for @list, remote: true do |f|
  #error_explanation
  .input-field
  = f.input :title
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: "btn waves-effect light-blue darken-2" }