.container
  .row
    .col.s12
      = link_to "#", class: "waves-effect waves btn blue-grey darken-4", id: "new-list-button" do
        New list
        %i.material-icons.left playlist_add
      #new-list-form
        = render "form"
  .row#lists
    = render @lists

