.container
  .row
    .col.s12
      = link_to "#", class: "waves-effect waves-brown btn", id: "new-list" do
        New list
        %i.material-icons.left cloud
      #new_list_form
        = render "form"
  .row#lists
    = render @lists