#index-banner.section.no-pad-bot
  .container
    %br/
    %br/
    %h1.header.center.orange-text Public access
    
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons flash_on
          %h5.center Physics
          %p.light Darbi n stuff, n bildes
      .col.s12.m4
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons group
          %h5.center Stundiņ sarakstiņ
          %p.light Kad negribas vērt vaļā ortusu
      .col.s12.m4
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons settings
          %h5.center Placeholder
          %p.light Placeholder
  %br/
  %br/
  .section
%footer.page-footer.orange
  .footer-copyright
    .container
      Made by some wannabe programmer rammer - 
      = link_to 'Github', 'https://github.com/marisancans/improv', class: 'black-text'
