.container
  #subscribed-feeds.row
    %h4.center-align Subscribed feeds
  .row
    = render @subscribed_feeds
  .row
    %h4.center-align Other feeds
  .row
    = render partial: 'feed', collection: @unsubscribed_feeds
