.row
    = pluralize(subscribed_feeds.count, 'feed')
- subscribed_feeds.each do |subscribed_feed|
    - feed = subscribed_feed.feed
    .row
        .col.s6= image_tag 'http://placehold.it/30x30'
        .col.s6
            = feed.name
            .feed-published= feed.updated_at.to_s(:time) 