// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date {
    select {
        display: initial;
        width: 10%;
    }
}

.todo-expired {
    color: red;
}