%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text About this project
        %p.grey-text.text-lighten-4 Just stuff
      .col.l4.offset-l2.s12
        %h5.white-text Links
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Maris Github
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Davis Github
  .footer-copyright
    .container
      © 2016 Copyright Improv