#event-modal.modal
  .modal-content
    Failed to laod content, try reloading the page, please contact us if the problem persists 
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Agree
