.row
  .col.s12.m3.upcoming-events-col
    .row
      %h5.center Upcoming events
    = render partial: 'event_for_upcoming', collection: @events_week_in_advance, as: :event, locals: { event_id_prefix: 'upcoming' }
  .col.s12.m6
  .col.s12.m3.rss-col
    .row
      %h5.center RSS
    = render @entries

