.row
  .col.s12.m3.upcoming-events-col
    .row
      %h5.center Upcoming events
    = render partial: 'event_for_upcoming', collection: @events_week_in_advance, as: :event, locals: { event_id_prefix: 'upcoming' }
  .col.s6
    #messages
      = render @messages
    = render 'messages/message_form'


  .col.s3
    My feeds:
    // - @entries.each do |entry|
    //   %br
    //   .entry.entry--with-hidden-date
    //     .hvr-underline-from-left
    //       = link_to entry.title, entry.url, target: '_blank'
    //       .entry-published-date= "#{time_ago_in_words(entry.published)} ago"

