.container
  .row
    .col-md-6
      = link_to lists_path, class: "waves-effect waves-light btn-large" do
        Lists
    .col-md-6
      = link_to todos_path, class: "waves-effect waves-light btn-large" do
        Todos