.container
  .row
    .col-md-6
      = link_to lists_path, class: "btn-sharp btn-sharp-lists" do
        Lists
    .col-md-6
      = link_to todos_path, class: "btn-sharp btn-sharp-todos" do
        Todos