/ Compiled and minified CSS


%button.btn.modal-trigger{"data-target" => "modal1"} Modal
/ Modal Structure
#modal1.modal.modal-fixed-footer
  .modal-content
    %h4 Modal Header
    %p A bunch of text
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Agree

:javascript
  $(document).ready(function() {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });