= month_calendar events: events do |date, events|
  .content{id: date}
    .date
      = date.day
    - events.each do |event|
      .event
        %span= event.start_time.strftime("%H:%M")
        = event.name