=@events.count
.container
  = form_tag events_path, remote: true do
    .row
      - @events.each do |event|
        = fields_for "events[]", event do |pf|
          = pf.text_field :name
      =submit_tag "Save"
