= semantic_form_for @event, remote: true do |f|
  #error_explanation
  .input-field
    = f.input :name, "placeholder": "Title"
    = f.action :submit, button_html: { class: "btn waves-effect light-blue darken-2" }