#confirm-delete-gallery.modal
  .modal-content
    .progress
      .indeterminate
  .modal-footer
    = button_tag 'Close', class: 'modal-close waves-effect btn-flat', data: { modal: 'confirm-delete-gallery' }