.gallery-wrapper
  .center-align.header-wrapper
    %i.material-icons.large.camera-icon camera
    .header.valign Gallery
  .gallery-grid
    = render 'new'
    = render @galleries
              
            
