// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.controller-events {
  background-color: rgba(241, 241, 241, 0.25)
}

#loading{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  
  .progress{
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,.0);
    
    .indeterminate{
       background-color: white;
    }
  }
}

#event_fields {
  overflow-y:auto;
  
  .event-field {
    .time-select {
      display: inline;
      
      select { 
        width: initial;
        display: initial;
        height: 2rem;
        padding: initial;
      }
    }
    
    .title {
      padding: 10px 0;
      display: inline-block
      // white-space: nowrap;
    }
  }
}

.calendar-heading {
  padding: 10px 0;
  
  .calendar-title {
    .month {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 2rem;
      display: inline-block;
    }
    
    %span {
      letter-spacing: initial;
      font-size: initial;
    }
  }
  
  .year {
    text-transform: uppercase;
    font-weight: 300;
  }
}

.simple-calendar {
  .row-month-navigation {
    padding-bottom: initial;
    
    .col {
      padding: initial;
    }
  }
  .month-navigation {
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .todays-date {
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .day {
    &:hover { cursor: pointer; }
    
  }
  [data-visual-label-day]:before {
    content: attr(data-visual-label-day) "";
  }
  
  .eqi-container {
    display:flex;
    width: 85%;
    margin: 0 auto;
    
    .event-dot {
      flex-grow: 1;
      height: 2px;
    }
  }

  table {
    table-layout: fixed;
    
    td, th {
       border-radius: initial;
      padding: initial;
      padding: 10px 0;
    }
  }
  
  .new-event-label {
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
  
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today { @extend .deep-purple; } 
  .past {}
  .future {}

  .start-date { }

  .prev-month, .next-month {}
  
  .current-month {}

  .has-events {
    // @extend .purple, .lighten-5
  }
}

#card-panel-week {
  .upcoming-events {
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
  
  .grid-item-event {
    width: 100%;
    box-sizing: border-box;
  }
  .upcoming-date-month, .upcoming-date-number {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  .upcoming-date-number {
    font-size: 2rem;
  }
  
  .row-group-divider {
    padding: 5px 0;
  }
}


#card-panel-day {

  .seleted-date, .todays-events {
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}
