// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-name {
  font-size: 30px;
  line-height: 80%;
  padding-top: 10px;
}

.feed-url {
  font-size: 10px;
}

