.wrapper {
  padding: 0 100px;
}

.header-wrapper {
  padding-top: 10px;

  .camera-icon {
    -webkit-animation: rotation 60s infinite linear;
  }

  @-webkit-keyframes rotation {
      from {-webkit-transform: rotate(0deg);}
      to   {-webkit-transform: rotate(359deg);}
  }
  

  .header {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2rem;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.image-upload {
  display: inline-block;
  width: 50%;
  
  label {
    .btn {
      background-color: white;
      box-shadow: none;
      color: rgba(0, 0, 0, 0.87);
      
    &:hover {
      background-color: rgb(33, 33, 33);
      box-shadow: none;
      color: white;
      }
    }
  }
}

.create-gallery-button {
  display: inline-block;
  background-color: white;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  
  &:hover {
    background-color: rgb(33, 33, 33);
    box-shadow: none;
    color: white;
  }
}

// What lies behind this comment is probably beyond my understanding now. The nesting is comfy.

#hide-whole {
    position: relative;
    display: inline-block;
  
    .hide-input { 
      width: 99%;
      height: 100%;
      
      input { 
        width: 99%;
        height: 100%;
      } 
    }
    
    .fake-button {
      background-color: white;
      box-shadow: none;
      color: rgba(0, 0, 0, 0.87);
      
      .fa-lg {
        vertical-align: initial;
      }
    }
    
  &:hover {
    .fake-button {
      background-color: rgb(33, 33, 33);
      box-shadow: none;
      color: white;
      cursor: pointer;
    }
  }
}

#hide-whole .hide-input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
}

#hide-whole .hide-input:hover {
    
}

#hide-whole button {
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  
  &:hover {
    background-color: rgb(33, 33, 33);
    box-shadow: none;
    color: white;
  }
}
