body.controller-welcome {
  background-image:url('https://source.unsplash.com/JOfTqNlkIHU/1600x900');
  background-size:cover; 
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;
  color: white;
} 

nav ul a {
  color: white;
}
 
 
.upcoming-events-col {
  // background-color: rgba(255, 255, 255, 0.19);
}
.rss-col {
  a { color: white; }
}

